body{
    font-family: Arial, Helvetica, sans-serif;
}


.height-80{
    min-height: 80vh;
   }

.height{
    min-height: 100vh;
}

.home-pic{
    /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgb(0, 0, 0, .5)),url(jack-1.jpg)  no-repeat fixed;
    background-position: left center; */
  
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(0, 0, 0, .6)),url(jackreal.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
    background-size: cover;

   }

.home-sec{
    background-color: #FFBB00;
}

.orange{
    color: #FFBB00;
}

.mouth-pos{
    padding-top: 70vh;
}

.mouth{
    background-color: #CB1A1A;
    border-radius: 90%;
}

.bg-custom{
    background-color: #705407;
} 

.eye1 {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-color: #511C1C;
    position: absolute;
    top: 30%;
    left: 20%;
  } 

  .eye2 {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-color: #511C1C;
    position: absolute;
    top: 30%;
    right: 20%;
  } 

  .name{
    text-shadow: 2px 2px 2px #000000;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 75vh;

  }

  .deco{
    background-color: #CB1A1A;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
}

.title-underline{
    width: 300px;
    height: 1vh;
    background-color: #CB1A1A;
    margin: 0 auto;
  }

  .about{
      color: black;
      background-color: white;
      border: 5px solid lightgrey;
      width: 330px;
      transform: rotate(-15deg);
  }


 .space{
     height: 5vh;
 }

 .bottom-deco{
     height: 2vh;
     border-bottom: 2rem dotted #CB1A1A;

 }